<header>
  <img class="logo" title="Reset Game" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/2000px-International_Pok%C3%A9mon_logo.svg.png" alt="Pokemon" width="25%">
</header>

<div id="top">

<form action="/" method="post">
		Zoek hier op je Pokémon op naam of nummer:<br>
		<input type="text" class="left" name="input" placeholder="typ de naam of nummer"><br></br>
		<input type="submit" class="right" value="Submit">
</form>

</div>

<div id="main">

<div class="mainbox">
  <img src= {{ pokemon.img }} />
    <div class="boxes">
      {{#if err}}
        <h1>Oh noes!: {{err}} </h1>
      {{else}}
      <strong>Name :</strong> {{ pokemon.name }}<br/>
      <strong>Type :</strong> {{ pokemon.type }}<br/>
      <strong>Height :</strong> {{ pokemon.height }}<br/>
      <strong>Weight :</strong> {{ pokemon.weight }}<br/><br/>
      <strong>Description :</strong><br/>

			<!-- <strong>Description :{{ pokemon.title }}</strong><br/> -->
      {{ pokemon.desc }}
      {{/if}}
    </div>
	</div>
</div>
